*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 140vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), #fae321),url(./images/pexels-pixabay-264636.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}
.allcont{
    background: darkgray;
}
.navbar .logo{
    color: #717171;
    font-size: 25px;
}
#dd{
    color: brown;
    font-size: 40px;
    font-style: italic;
}
.navbar.logo h2{
    display: inline;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    color: rgb(246, 198, 6);
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: black;
    font-size: 30px;
}

.content .t-1{
    font-size: 32px;
}
.content .t-2{
    font-size: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid brown;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn{
    background: brown;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;

}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}
.maincontent{
    margin-top: 800px;
    overflow: hidden;   
}

.maincontent .yummi{
    font-size: 50px;
    margin-left: 40%;
    margin-bottom: 40px;
    padding-top: 100px;
    
}

.maincontent .yummi p{
    margin-left: -200px;
}
.slideshow-container {
    position: relative;
    padding-top: 10px;
    margin-left: 360px;
}
.discount{
    float: right;
    padding-top: 140px;
    font-size: 30px;
}
.mySlides{
    width: 1200px;
    margin-left: -200px;
}

.text {
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 200px;
    margin-left: 200px;
}
.dot {
    align-items: center;
    height: 15px;
    width: 15px;
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade img{
    height: 480px;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.paraphrase{
    width: 100%;
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
    
}

.paraphrase h2{
    font-size: 30px;
    text-align: center;
   align-items: center;
   justify-content: center;
    padding-top: 80px;
}
.paraphrase .menus{
    display: flex;
    padding-top: 50px;
}

.paraphrase .menus .menu1{
    padding-right: 40px;
    font-size: 30px;
}


.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: darkgrey;
    display: flex;
}

.footer div{
    text-align: center;

}

.col-6{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

.col-5 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.row-2 .col-4{
    padding-top: 100px;
    margin-left: 270px;
}

.container h3{
    font-size: 40px;
    padding-top: 100px;
    margin-left: 580px;
}

.row-pics ul{
    border-radius: 10px;
    margin-left: 185px;
    padding-top: 200px;
}























