#tab{
  display: flex;
}

/*Fresh Food*/
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*Beauty and Cosmetics*/
/* Dropdown Button */
.dropbtn2 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {background-color: #3e8e41;}

/* Kitchen & Utensils*/
/* Dropdown Button */
.dropbtn3 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn3 {background-color: #3e8e41;}


/* Fat & Oil*/
/* Dropdown Button */
.dropbtn4 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown-content4 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn4 {background-color: #3e8e41;}

/* Stationery*/
/* Dropdown Button */
.dropbtn5 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown5 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content5 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown5:hover .dropdown-content5 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown5:hover .dropbtn5 {background-color: #3e8e41;}

/* Snacks*/
/* Dropdown Button */
.dropbtn6 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown6 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content6 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content6 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content6 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown6:hover .dropdown-content6 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown6:hover .dropbtn6 {background-color: #3e8e41;}

/* Furniture*/
/* Dropdown Button */
.dropbtn7 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow7 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content7 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content7 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content7 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown7:hover .dropdown-content7 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown7:hover .dropbtn7 {background-color: #3e8e41;}


/* Electronics*/
/* Dropdown Button */
.dropbtn8 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow8 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content8 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content8 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content8 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown8:hover .dropdown-content8 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown8:hover .dropbtn8 {background-color: #3e8e41;}


/* Beverages*/
/* Dropdown Button */
.dropbtn9 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow9 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content9 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content9 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content9 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown9:hover .dropdown-content9 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown9:hover .dropbtn9 {background-color: #3e8e41;}


/* Fashion*/
/* Dropdown Button */
.dropbtn10 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow10 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content10 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content10 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content10 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown10:hover .dropdown-content10 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown10:hover .dropbtn10 {background-color: #3e8e41;}


/* Cleaning*/
/* Dropdown Button */
.dropbtn11 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow11 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content11 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content11 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content11 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown11:hover .dropdown-content11 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown11:hover .dropbtn11 {background-color: #3e8e41;}


/* Sauces*/
/* Dropdown Button */
.dropbtn12 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow12 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content12 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content12 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content12 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown12:hover .dropdown-content12 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown12:hover .dropbtn12 {background-color: #3e8e41;}

/* Households*/
/* Dropdown Button */
.dropbtn13 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow13 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content13 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content13 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content13 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown13:hover .dropdown-content13 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown13:hover .dropbtn13 {background-color: #3e8e41;}


/* Health & Fitness*/
/* Dropdown Button */
.dropbtn14 {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdow14 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content14 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content14 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content14 a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown14:hover .dropdown-content14 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown14:hover .dropbtn14 {background-color: #3e8e41;}


/*WEEKLY OFFERS*/
.btn15 {
 background-color: #04AA6D;
  color: rgb(241, 11, 11);
  padding: 50px;
  font-size: 50px;
  border-radius: 50px;
  border: none;
  margin-left: 00px;
  margin-top: 40px;
  
}

.btn15:hover {
  background-color:red;
  color:black;
}

/*BIG sAVE*/
.btn16 {
 background-color: #04AA6D;
  color: rgb(248, 7, 7);
  padding: 50px;
  font-size: 50px;
  border-radius: 50px;
  border: none;
  margin-left: 00px;
  margin-top: 40px;
  
}

.btn16:hover {
  background-color:red;
  color:black;
}

/*Redeem Points*/
.btn17 {
 background-color: #04AA6D;
  color: rgb(240, 13, 13);
  padding: 50px;
  font-size: 50px;
  border-radius: 50px;
  border: none;
  margin-left: 00px;
  margin-top: 40px;
  
}

.btn17:hover {
  background-color:red;
  color:black;
}

.pr{
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.nw{
  font-weight: bold;
  margin-left: 10px;
}

.cart{
  background-color:rgba(174, 130, 77, 1);
  color: black;
  padding: 10px;
  border-radius: 12px;
width: 100px;
  font-size: 14px;
  border: none;
  margin-left: 00px;
  margin-top: 10px;
  
}
/*Fresh Food items*/
#fresh{
 margin-top: 50px;
}

.ff{
  background-color: #04AA6D;
  color: black;
  border: none;
  width: 120px;
  margin-left: 50%;
}
 
 .f1{
   display: flex;
   margin-top: 50px;
 }

 .bread {
   margin-left: 100px;
 }

 .milk {
   margin-left: 150px;
 }

 .lettuce{
   margin-left: 150px;
 }
 .meat{
   margin-left: 150px;
 }
 
  .fruit{
   margin-left: 150px;
 }

 /*BEAUTY & COSMETICS*/
#beauty{
 margin-top: 50px;
}

.ff2{
  background-color: #04AA6D;
  color: black;
  border: none;
  width: 200px;
  margin-left: 48%;
}

.f2{
   display: flex;
   margin-top: 50px;
 }

 .make {
   margin-left: 100px;
 }

 .hair{
   margin-left: 150px;
 }

 .bc{
   margin-left: 150px;
 }
 .deod{
   margin-left: 150px;
 }
 
  .lip{
   margin-left: 150px;
 }


 /* FURNITURE*/
#furn{
 margin-top: 50px;
}

.ff3{
  background-color: #04AA6D;
  color: black;
  border: none;
  width: 200px;
  margin-left: 48%;
}

.f3{
   display: flex;
   margin-top: 50px;
 }

 .pla {
   margin-left: 100px;
 }

 .sofa{
   margin-left: 150px;
 }

 .mat{
   margin-left: 150px;
 }
 .ct{
   margin-left: 150px;
 }
 
  .bed{
   margin-left: 150px;
 }

 /* FASHION*/
#fash{
 margin-top: 50px;
}

.ff4{
  background-color: #04AA6D;
  color: black;
  border: none;
  width: 200px;
  margin-left: 48%;
}

.f4{
   display: flex;
   margin-top: 50px;
 }

 .men {
   margin-left: 100px;
 }

 .women{
   margin-left: 150px;
 }

 .kid{
   margin-left: 150px;
 }
 .shoe{
   margin-left: 150px;
 }
 
  .sn{
   margin-left: 150px;
 }


 /* ELECTRONICS*/
#elect{
 margin-top: 50px;
}

.ff5{
  background-color: #04AA6D;
  color: black;
  border: none;
  width: 200px;
  margin-left: 48%;
}

.f5{
   display: flex;
   margin-top: 50px;
 }

 .mic {
   margin-left: 100px;
 }

 .fri{
   margin-left: 150px;
 }

 .tv {
   margin-left: 150px;
 }
 .ble{
   margin-left: 150px;
 }
 
  .wf{
   margin-left: 150px;
 }
 
 .des2 {
  text-align: center;
 }

 /*Footer*/
 #foot{
   display: flex;
  justify-content: stretch;
  background-color: black;
  padding-left: 600px;
 }
 .ft1{
   padding-top: 50px;
   border: none;
   background-color: black;
   color: white;
   font-size: large;
   padding: 10px; 
 }
 .ft1:hover{
   background-color: white;
   color: black;
 }

 .ft2{
   padding-top: 50px;
   border: none;
   background-color: black;
   color: white;
   font-size: large;
   padding: 10px;
   padding-left: 50px;

  
   
 }
 .ft2:hover{
   background-color: white;
   color: black;
 }
 .ft3{
   padding-top: 50px;
   border: none;
   background-color: black;
   color: white;
   font-size: large;
   padding: 10px; 
   padding-left: 50px;
   
 }
  .ft3:hover{
   background-color: white;
   color: black;
 }

 .ft4{
   padding-top: 50px;
   border: none;
   background-color: black;
   color: white;
   font-size: large;
   padding: 10px; 
   padding-left: 50px;
   
 }
  .ft4:hover{
   background-color: white;
   color: black;
 }
 .ft5{
   padding-top: 50px;
   border: none;
   background-color: black;
   color: white;
   font-size: large;
   padding: 10px; 
   padding-left: 50px;
   
 }
  .ft5:hover{
   background-color: white;
   color: black;
 }

 .fol{
   padding-top: 20px;
   color: white;
   padding-left: 160px;
   font-size: large;
   padding-bottom: 20px;
 }

 .loz1{
 padding-left: 50px;

 }

 .loz2{
   padding-left: 70px;
 }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}